body {
    background-color: teal
}
.h1container {
    position: absolute;
    width: 100%;
}
h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 4vw;
}
.grid {
    height: 100%;
}
.segment {
    padding: 0px !important;
    background-color: turquoise !important;
    height: 100%;
    overflow: hidden
}